<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>配送查询</title>
    <!--edge浏览器H5兼容设置-->
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!--360浏览器H5兼容设置-->
    <meta name="renderer" content="webkit" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--导入核心文件-->
    <script th:src="@{../../static/bootstrap3/js/holder.js}"></script>
    <script th:src="@{../../static/bootstrap3/jquery-1.9.1.min.js}"></script>
    <script th:src="@{../../static/bootstrap3/js/bootstrap.js}"></script>
    <!-- 字体图标 -->
    <link rel="stylesheet" th:href="@{../../static/bootstrap3/css/bootstrap.css}" type="text/css">
    <link rel="stylesheet" th:href="@{../../static/bootstrap3/font-awesome-4.7.0/css/font-awesome.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{../../static/css/layout.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{../../static/css/DO.css}" />
</head>
<body style="background-size: 110%;background-image:url('../static/4.jpg')">
<div class="do">
<h3 align="center">请输入配送的用户ID：</h3>
<form id="form-login" class="form-horizontal" role="form" th:method="get" th:action="@{/deli/look}">
    <!--用户名-->
    <div class="form-group">
        <label style="margin-top: 10px" class="col-md-3 control-label">用户学号：</label>
        <div class="col-md-8">
            <input style="margin-top: 10px" th:type="text" th:id="id" th:name="id" type="text" class="form-control"  placeholder="请输入学号" required autofocus>
        </div>
    </div>
    <div class="form-group">
        <label class="col-md-3 control-label"></label>
        <div style="margin-top: 20px" class="col-md-8">
            <input id="btn-login"  class="btn btn-primary" type="submit" value="查看订单" />
            <span class="pull-right"><a th:href="@{/DeliAll}">返回界面</a><br/>
            </span>
        </div>
    </div>
    </form>
</div>
</body>
</html>