<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>提现信息</title>
    <!--edge浏览器H5兼容设置-->
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!--360浏览器H5兼容设置-->
    <meta name="renderer" content="webkit" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--导入核心文件-->
    <script th:src="@{../../static/bootstrap3/js/holder.js}"></script>
    <script th:src="@{../../static/bootstrap3/jquery-1.9.1.min.js}"></script>
    <script th:src="@{../../static/bootstrap3/js/bootstrap.js}"></script>
    <!-- 字体图标 -->
    <link rel="stylesheet" th:href="@{../../static/bootstrap3/css/bootstrap.css}" type="text/css">
    <link rel="stylesheet" th:href="@{../../static/bootstrap3/font-awesome-4.7.0/css/font-awesome.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{../../static/css/layout.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{../../static/css/DO.css}" />
</head>
<body style="background-size: 100%;background-image:url('../../static/5.jpg')" >
<h3 align="center">请输入要提现的金额:</h3>
<div class="do">
    <form style="margin-top: 30px" id="form-login" class="form-horizontal" role="form" th:method="get" th:action="@{/deli/Withdrawals}">
        <!--用户名-->
        <div class="form-group">
            <label class="col-md-3 control-label">学号：</label>
            <div class="col-md-8">
                <input th:type="text" th:id="uid" th:name="uid" th:value="${M.getUid()}" type="text" class="form-control"  readonly="readonly">
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-3 control-label">提现金额：</label>
            <div class="col-md-8">
                <input th:type="text" th:id="money" th:name="money" type="text" class="form-control"  placeholder="请输入提现金额" required autofocus>
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-3 control-label"></label>
            <div class="col-md-8">
                <input id="btn-login" class="btn btn-primary" type="submit" value="提现" />
                <span class="pull-right"><a th:href="@{/deli/Money}">查看余额</a><br/>
            </span>
            </div>
        </div>
    </form>
</div>
</body>
</html>